<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for test projects" ToolsVersion="16.0">
  <Include Path="Standard.ruleset" Action="Default" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <!-- Disable documentation in unit tests. -->
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1600" Action="None" />
  </Rules>
</RuleSet>